.chart-bar {
  flex: 0 1 calc(100% / 6);
  height: 6.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;

  @media (min-width: 580px) {
    flex: 0 1 calc(100% / 12);
    height: 7.5rem;
  }

  &__inner {
    height: 100%;
    width: 1.35rem;
    border: 1px solid #313131;
    border-radius: 12px;
    background-color: #c3b4f3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__fill {
    background-color: #4826b9;
    width: 100%;
    transition: all 1s ease-in-out;
  }

  &__label {
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
  }
}
