.expenses-filter {
  color: white;
  padding: 0 1rem;

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem 0;
  }

  &__label {
    font-weight: 700;
  }

  &__select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
  }
}
