@import "../../styles/global";

.expenses {
  padding: 1.5rem;
  background-color: var(--clr-primary);
  margin: 2rem auto 0;
  max-width: 50rem;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    margin: 1rem 0;
    background-color: var(--clr-secondary);

    &-date {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      width: 5.5rem;
      height: 5.5rem;
      background-color: var(--clr-primary);
      color: var(--clr-text);
      border-radius: 12px;
    }

    &-month {
      font-size: 0.9rem;
      font-weight: 600;

      @include media(768) {
        font-size: 0.7rem;
      }
    }

    &-year {
      font-size: 1.5rem;
      font-weight: bold;

      @include media(768) {
        font-size: 1.2rem;
      }
    }

    &-day {
      font-size: 0.9rem;

      @include media(768) {
        font-size: 0.7rem;
      }
    }

    &-description {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      gap: 0.8rem;
      flex: 1;

      @include media(768) {
        flex-flow: column-reverse;
        align-items: flex-end;
      }
    }

    &-title {
      flex: 1;
      margin: 0 1rem;
      font-size: 1.25rem;
      text-align: left;
      color: var(--clr-text);

      @include media(768) {
        font-size: 1rem;
        margin: 0;
        text-align: right;
      }
    }

    &-price {
      padding: 0.5rem 1.5rem;
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--clr-text);
      background-color: #40005d;
      border-radius: 12px;

      @include media(768) {
        font-size: 1rem;
        padding: 0.5rem;
      }
    }

    & > &-delete-btn {
      background-color: #1f1f1f;
      padding: 0.6rem;
      margin-left: 0.8rem;
      transition: all 0.3s ease;

      img {
        width: 24px;
        height: 24px;

        @include media(768) {
          width: 18px;
          height: 18px;
        }
      }

      &:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
      }

      &:focus {
        transform: scale(0.95);
      }
    }
  }

  &-filter {
    color: var(--clr-text);
    padding: 0 1rem;

    &-control {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.2rem 0;
    }

    &-label {
      font-weight: 700;
    }

    &-select {
      font: inherit;
      padding: 0.5rem 1.5rem;
      font-weight: bold;
      border-radius: 6px;
    }
  }

  &-list {
    list-style: none;

    &-fallback {
      margin-top: 2rem;
      color: var(--clr-text);
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;

      @include media(768) {
        font-size: 1rem;
      }
    }
  }
}
