.menu {
  display: flex;
  align-items: center;
  gap: 2rem;

  &-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
}

.link-active {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}
