.new-expense {
  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;

    @media (min-width: 580px) {
      justify-content: stretch;
    }
  }

  &__label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    display: block;

    @media (min-width: 580px) {
      font-size: 1rem;
    }
  }

  &__input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 16rem;
    height: 2.5rem;
    max-width: 100%;

    @media (min-width: 580px) {
      width: 15rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    @media (min-width: 580px) {
      justify-content: flex-end;
    }
  }
}
