*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  font: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background-color: #3f3f3f;
}

@import "./scss/Card.scss";
@import "./scss/Button.scss";
@import "./scss/Modal.scss";

@import "./scss/ExpenseForm.scss";
@import "./scss/ExpensesFilter.scss";
@import "./scss/Chart.scss";
@import "./scss/ChartBar.scss";
@import "./scss/ExpensesList.scss";
@import "./scss/ExpenseItem.scss";
@import "./scss/ExpenseDate.scss";

@import "./scss/NewExpense.scss";
@import "./scss/Expenses.scss";
