*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background-color: #3f3f3f;
}

@import "./scss/Card.scss";
@import "./scss/Button.scss";
@import "./scss/Modal.scss";

@import "./scss/ExpensesFilter.scss";
@import "./scss/Chart.scss";
@import "./scss/ExpensesList.scss";

@import "./scss/NewExpense.scss";
@import "./scss/Expenses.scss";
