.btn {
  padding: 1rem 2rem;
  background-color: #40005d;
  color: white;
  border-radius: 12px;

  @media (max-width: 580px) {
    padding: 0.8rem 1.6rem;
  }

  &:hover,
  &:active {
    background-color: #510674;
    border-color: #510674;
  }

  &:disabled {
    background-color: rgba(81, 6, 116, 0.8);
  }
}
