@import "../../styles/global.scss";

.auth {
  max-width: 25rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--clr-background);

  &-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-btn {
      margin: 0.5rem auto 0;
    }
  }

  p {
    font-size: 1.05rem;
    text-align: center;
    margin: 1.5rem 0 0.5rem;
    color: var(--clr-primary);

    a {
      margin-left: 0.25rem;
      color: var(--clr-accent);
    }
  }
}
