@import "../../styles/global";

.btn {
  padding: 1rem 2rem;
  width: fit-content;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: 12px;
  transition: all 0.3s ease;

  @include media(768) {
    padding: 0.8rem 1.6rem;
  }

  &:hover,
  &:active {
    background-color: #510674;
  }

  &:disabled {
    background-color: rgba(81, 6, 116, 0.8);
  }
}
