.form-control {
  &-label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    display: block;
    color: var(--clr-dark);

    @media (min-width: 580px) {
      font-size: 1rem;
    }
  }

  &-input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    height: 2.5rem;
    width: 100%;
  }
}
